#!/usr/bin/env ruby

require 'scholarmarkdown/filter/hyphenate_iri'
require 'scholarmarkdown/filter/include_code'
require 'scholarmarkdown/filter/headerids_to_section'
require 'scholarmarkdown/filter/citation_metadata'
require 'scholarmarkdown/preprocess/katex'

Encoding.default_external = "UTF-8"

preprocess do
  preprocess_katex_assets
end

compile '/index.*' do
  filter :erb
  filter :custom_citation, bibfile: items['/references.bib'],
                           section: items['/extended_abstract_en.md'],
                           style: 'ieee',
                           tag: "eaen"
  filter :custom_citation, bibfile: items['/references.bib'],
                           section: items['/extended_abstract_nl.md'],
                           style: 'ieee',
                           tag: "eanl"
  filter :scholar_citation, bibfile: items['/references.bib'],
                            style: 'ieee'
  filter :kramdown, math_engine: 'sskatex',
                  math_engine_opts: {
                    :katex_js=> File.join(Katex.gem_path, 'vendor', 'katex', 'javascripts', 'katex.js')
                  }
  filter :scholar_references_to_bibliography
  filter :scholar_labelify, acronyms: items['/acronyms.csv'],
                            ontologies: items['/ontologies.csv']
  filter :colorize_syntax, default_colorizer: :rouge
  layout '/default.*'
  filter :scholar_citation_metadata
end

ignore '/**/*.md'
ignore '/*.bib'
ignore '/*.csv'

route '/**/*.{html,md}*' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/{screen,print}.scss' do
  filter :sass, syntax: :scss,
                style: :compressed
  write item.identifier.without_ext + '.css'
end
ignore '/**/*.scss'

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
