---
title: Collaborative Storytelling on the Semantic Web
people:
  - name: Robbe Van Herck
    url: https://robbevanherck.be
    webid: https://robbevanherck.be/me
    student_number: 01710097
    function: Author
  - name: Prof. dr. Pieter Colpaert
    function: Supervisor
  - name: Harm Delva
    function: Counsellor
degree: Master of Science in de informatica
academic_year: 2021-2022
---

<main>
  <%= section 'abstract' %>
</main>

<footer></footer>
