pre code table td { padding: 5px; }
pre code table pre { margin: 0; }
pre code .c, pre code .ch, pre code .cd, pre code .cm, pre code .cpf, pre code .c1 {
  color: #888888;
}
pre code .cp {
  color: #cc0000;
  font-weight: bold;
}
pre code .cs {
  color: #cc0000;
  background-color: #fff0f0;
  font-weight: bold;
}
pre code .err {
  color: #a61717;
  background-color: #e3d2d2;
}
pre code .gr {
  color: #aa0000;
}
pre code .gh {
  color: #333333;
}
pre code .gu {
  color: #666666;
}
pre code .gd {
  color: #000000;
  background-color: #ffdddd;
}
pre code .gi {
  color: #000000;
  background-color: #ddffdd;
}
pre code .ge {
  font-style: italic;
}
pre code .gs {
  font-weight: bold;
}
pre code .gl {
  color: #888888;
}
pre code .go {
  color: #888888;
}
pre code .gp {
  color: #555555;
}
pre code .gt {
  color: #aa0000;
}
pre code .k, pre code .kc, pre code .kd, pre code .kn, pre code .kr, pre code .kv {
  color: #008800;
  font-weight: bold;
}
pre code .kp {
  color: #008800;
}
pre code .kt {
  color: #888888;
  font-weight: bold;
}
pre code .m, pre code .mb, pre code .mf, pre code .mh, pre code .mi, pre code .il, pre code .mo, pre code .mx {
  color: #0000dd;
  font-weight: bold;
}
pre code .s, pre code .sb, pre code .sc, pre code .dl, pre code .sd, pre code .s2, pre code .sh, pre code .s1 {
  color: #dd2200;
  background-color: #fff0f0;
}
pre code .sa {
  color: #008800;
  font-weight: bold;
}
pre code .se {
  color: #0044dd;
  background-color: #fff0f0;
}
pre code .si {
  color: #3333bb;
  background-color: #fff0f0;
}
pre code .sx {
  color: #22bb22;
  background-color: #f0fff0;
}
pre code .sr {
  color: #008800;
}
pre code .ss {
  color: #aa6600;
  background-color: #fff0f0;
}
pre code .na {
  color: #336699;
}
pre code .nb, pre code .bp {
  color: #003388;
}
pre code .nc {
  color: #bb0066;
  font-weight: bold;
}
pre code .no {
  color: #003366;
  font-weight: bold;
}
pre code .nd {
  color: #555555;
}
pre code .ne {
  color: #bb0066;
  font-weight: bold;
}
pre code .nf, pre code .fm {
  color: #0066bb;
  font-weight: bold;
}
pre code .nl {
  color: #336699;
}
pre code .nn {
  color: #bb0066;
  font-weight: bold;
}
pre code .py {
  color: #336699;
  font-weight: bold;
}
pre code .nt {
  color: #bb0066;
  font-weight: bold;
}
pre code .nv, pre code .vc, pre code .vm {
  color: #336699;
}
pre code .vg {
  color: #dd7700;
}
pre code .vi {
  color: #3333bb;
}
pre code .ow {
  color: #008800;
}
pre code .w {
  color: #bbbbbb;
}
